*.xcodeproj
*.xcworkspace
*.sln
*.vcxproj
*.vcxproj.*
*.suo
*.sdf
*.opensdf
ipch/
Debug/
Release/
.DS_Store
.vs
*.nupkg
*.opendb
packages.config
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/libtool
/.libs/
.deps/
*.[oa]
*.l[oa]
Makefile
Makefile.in
m4/*.m4
.buildstamp
.dirstamp
packages/
.anjuta/*
*.anjuta*
config.h.*
/config.h
stamp*
COPYING
.idea/*
*.VC.db
cscope.*
*-git-ignored-file.*
test/*.trs
test/test_*
*.log
test/.libs/*
test/tests
cglm_arm/*
cglm_test_ios/*
cglm_test_iosTests/*
docs/build/*
win/cglm_test_*
* copy.*
*.o
*.obj
*codeanalysis.*.xml
*codeanalysis.xml
*.lib
*.tlog
win/x64
win/x85
win/Debug
cglm-test-ios*
/cglm.pc
test-driver
Default-568h@2x.png
build/
conftest.dir/*
confdefs.h
*.xcuserdatad
.idea
cmake-build-debug
*.o.tmp
xcode/*
.vscode